[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\FlyByWire_A320_NEO"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Sky Airline" ; Variation name
model = "SKU" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "SkyAirline" ; texture folder
kb_checklists = "AirbusA32NX_check" ; Procedures/Checklist sibling file name
kb_reference = "AirbusA32NX_ref" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "FlyByWire Simulations"
ui_type = "Sky Airline"
ui_variation = "Sky Airline" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "g3nsvrv" ; e.g. Asobo Studio, Microsoft, Wings Creates, etc
atc_id = "" ; tail number
atc_id_enable = 0 ; enable tail number
atc_airline = "AEROSKY" ; airline name = CallSign
atc_flight_number = "1129" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 1 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user
icao_type_designator = "A20N" ; https://www.icao.int/publications/doc8643/pages/search.aspx
icao_manufacter = "AIRBUS" ; https://www.icao.int/publications/DOC8643/Pages/Manufacturers.aspx
icao_airline = "SKU" ; ICAO airline code. this is to be used on realtime flights
